/* font-family: 'Kanit', sans-serif;
font-family: 'PT Serif', serif; */
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background-image: url(images/banner/banner1.png);
}
h1{
    font-size: 45px;
}
.section-first{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.text-part{
    width: 45%;
    padding: 5%;
}
.image-part{
    padding: 5%;
    width: 30%;
}
.image-part-img{
    width: 350px;
}
.first-heading{
    font-size: 30px;
    padding-left: 2%;
    line-height: 30px;

}
.btn{
    padding: 13px 30px;
    background-color: coral;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.section-secound{
    margin-top: 50px;
    align-items: center;
    margin: 0 auto;
}
.section-secound{
    width: 90%;
    display: flex;
    margin: 0 auto;

}
.image-part{
    padding: 5%;
    width: 30%;
}
.image-part img{
    width: 350px;
    background-color: burlywood;
}

.development-javascript-smoking-ecommerce{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.plans-heading{
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    padding: 3%;
    display: block;
}

.section-call{
    background-image: url(images/watch.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}


